body {
  font-family  "Microsoft YaHei"
  color black
}
.cube-tab-bar-slider {
  background-color #0078ff
}

.cube-tab_active {
  color #0078ff
}

.cube-tab {
  .iconfont {
    font-size 18px
    font-weight 800
  }
  div {
    margin-top 8px
    font-size 12px
  }

}